.itemDetail {
    display: flex;
    color: azure;
    background-color: rgba(39, 35, 35, 0.651);
    border-radius: 30px;
    width: 100%;
}

.imgDetail {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgDetail img {
    width: 400px;
    height: 500px;
    padding: 5%;
    margin-left: 60px;
}

.descripcion {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.descripcion h3 {
    font-size: 50px;
    margin: 0;
    color: rgb(233, 159, 64);
}

.descripcion h4 {
    font-size: 25px;
}

.descripcion p {
    font-size: 20px;
    font-weight: 400;
}