@font-face {
    font-family: hp;
    src: url("../../assets/letrahp.TTF");
}

.card {
    width: 330px;
    height: 500px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgb(184, 175, 175);
    padding: 1% 0%;
    font-family: hp;
}

.card:hover {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-15px);
    background-color: rgb(247, 237, 226);
}

.card img {
    width: 250px;
    height: 320px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 3%;
}

.card h2 {
    font-size: 32px;
    font-weight: 600;
    color: black;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.card p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 250;
    color: red;
    font-weight: 700;
    margin: 1;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.card button {
    border-radius: 4px;
    border: none;
    font-size: 15px;
    margin: 3px;
    padding: 2%;
    font-weight: 700;
    box-shadow: 5px 5px 5px gray;
}

.card button:hover {
    background-color: rgb(56, 172, 46);
    transition: 0.3s;
    color: white;
}