@font-face {
    font-family: hp;
    src: url("../../assets/letrahp.TTF");
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(151, 142, 142);
    font-family: hp;
    font-size: 35px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.247), rgba(0, 0, 0, 0.377)), url("../../assets/banner.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo img {
    width: 200px;
    height: 180px;
}

.logo h1 {
    font-size: 90px;
    padding: 0;
    margin: 0%;
}

.links ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: end;
    padding: 0%;
}